*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
body {
  font-family: $font-body;
  background-color: $color-background;
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5;

}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}
  
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  display: block;
  height: auto;
}
