$color-background: white;
$color-primary: #556C40;
$color-primary-light: #8D9D7F;
$color-light: #eaefe7;
$color-line: #CFCFCF;
$color-text: black;
$color-white: white;

$font-body: 'Helvetica Neue', Arial, sans-serif;