$color-background: white;
$color-primary: #556C40;
$color-primary-light: #8D9D7F;
$color-light: #eaefe7;
$color-line: #CFCFCF;
$color-text: black;
$color-white: white;
$color-red: #ff2f32;
$color-gray: #888;
$border-radius: 14px;
$light: #f5f5f5;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

$font-body: 'Helvetica Neue', Arial, sans-serif;