<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/scripts/event.js"></script>

</head>

<body>
  <div class="page-container">
    <%- include('partials/editprofileheader') %>

    <main class="main-content">
      <%- body %>
    </main>
  </div>
</body>

</html>