<% layout('layout') %>

<div class="explore_top">
  <img src="/images/tennis.jpg" alt="Explore image">
  <p class="p_name">Tennis Racket + Ball</p>
  <p class="p_description">2 rackets + 3 tennis balls + bag. Can be sold separately. Rarely used</p>
  <a href="/listings/my/682d074cb7eaaa11859e6fab">View</a>
</div>

<%- include('home_category', { content: "buying", listing, listing2, buyListing, rentListing }) %>

<div id="content">
  <% if (content === "buying") { %>
  <%- include('partials/hs_withDB', { listing, listing2, buyListing, rentListing }) %>
  <% } else { %>
  <%- include('partials/hs_withDB_renting', { listing, listing2, buyListing, rentListing }) %>
  <% } %>
</div>