<% layout('layout') %>

<div class="explore_top">
  <img src="/images/tennis.jpg" alt="Explore image">
  <p class="p_name">Tennis Racket + Ball</p>
  <p class="p_description">2 rackets + 3 tennis balls + bag. Can be sold separately. Rarely used</p>
  <a href="#">View</a>
  <!-- <button id="explore_view">View</button> -->
</div>

<%- include('home_category', { content: "buying", listing, listing2 }) %>

<%- include('partials/hs', { items, listing, listing2 }) %>