<% layout('layout') %>

<div class="explore_top">
  <img src="https://picsum.photos/600/400" alt="Explore image">
  <p class="p_name">Product Name</p>
  <p class="p_description">Product Description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore perspiciatis accusamus illum dicta qui recusandae quibusd.</p>
  <a href="/explore">View</a>
  <!-- <button id="explore_view">View</button> -->
</div>

<%- include('home_category', { content: "buying" }) %>

<%- include('hs', { items }) %>