<% layout('layout') %>


<div class="profile-settings-card">
  <a href="/orders" class="profile-setting-link">
    <span>Orders</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
  <a href="/bookmarks" class="profile-setting-link">
    <span>Bookmark</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
  <a href="/settings" class="profile-setting-link">
    <span>Settings</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
</div>

<div class="logout-section">
    <form action="/logout" method="POST">

      <button type="submit" class="logout-btn">Log Out</button>

    </form>
</div>
