<header class="header">
    <div class="header-bar">
        <a href="/profile">
            <span class="fa back-arrow">&#8592;</span>
        </a>
        <span class="header-title">Edit Profile</span>
      </div>      
</header>