<header class="header <%= showSearchbar ? 'curved' : '' %>">
    <div class="header-top">

        <div class="header-left">
            <h1 class="app-name">LendItOut</h1>
            <h2 class="page-title"><%= title %></h2>
        </div>
        
        <div class="header-icons">
            <a href="/notifications" class="icon notification-icon">
                <i class="fa-regular fa-bell"></i>
            </a>
            <a href="/chat" class="icon chat-icon">
                <i class="fa-regular fa-comment"></i>
            </a>
        </div>
    </div>
    <% if (typeof showSearchbar !== 'undefined' && showSearchbar) { %>
        <%- include('searchbar') %>
      <% } %>
</header>