<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Profile Photo</title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">

  <script defer src="/scripts/event.js"></script>
</head>

<body class="add-profile-photo-page">
  <div class="container">
    <div class="skip">
      <a href="/interestsview">Skip</a>
    </div>

    <h1 class="page-title">Add Profile Photo</h1>

    <div class="photo-icon">
        <img src="/images/camera.svg" alt="Camera Icon" width="48" height="48">
    </div>

    <button class="add-photo">Add Photo</button>
    <a href="/interestsview">
      <button class="continue">Continue</button>
    </a>
  </div>
</body>

</html>