
<% layout('layout') %>

<div class="profile-header">
  <div class="profile-background">
    <img src="https://picsum.photos/600/200" alt="profile-background">
    <a href="/editProfile" class="edit-icon"><i class="fas fa-pen"></i></a>
  </div>

  <div class="profile-info-edit">
    <div class="profile-img-edit">
      <img src="https://picsum.photos/100" alt="profile-img">
    </div>
  </div>

  <form action="/editProfile" method="post">
    <label for="name">Name</label>
    <input required type="text" name="name" placeholder="Name">

    <label for="username">Username</label>
    <input required type="text" name="username" placeholder="Username">

    <label for="pronouns">Pronouns</label>
    <input required type="text" name="pronouns" placeholder="They/Them">

    <label for="location">Location</label>
    <input required type="text" name="location" placeholder="Richmond, BC">

    <button>Save Changes</button>
  </form>



</div>

<% layout('editprofileLayout') %>

<body>

  <div class="banner">
    <img src="https://picsum.photos/300/300" alt="Profile" class="profile-pic"/>
    <img src="https://picsum.photos/300/100" alt="header" class="header-pic"/>
  </div>

  <main class="main">
    <form action="/profile/save" method="POST">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Name" />

      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Username" />

      <label for="pronouns">Pronouns</label>
      <input id="pronouns" name="pronouns" type="text" placeholder="They/Them" />

      <label for="location">Location</label>
      <input id="location" name="location" type="text" placeholder="Richmond, BC" />

      <button type="submit">Save Changes</button>
    </form>
  </main>

</body>
</html>

