.onboarding-container {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eaefe7;
  text-align: center;
}

.top-svg {
  width: 100%;
  margin-bottom: 1rem;
}

.onboarding-slide {
  display: none;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  animation: fadeIn 0.4s ease-in-out;
}

.onboarding-slide.active {
  display: flex;
}

.slide-image {
  margin-top: -7rem;
  width: 500px;
  height: auto;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.4rem;
  color: #556C40;
  
}

h3 {
  font-size: 1.2rem;
  color: #556C40;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

p {
  font-size: 1.1rem;
  padding: 1rem;
  margin-bottom: 0.7rem;
}

.dot-indicator {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 4px;
    transition: background-color 0.3s ease;

    &.active {
      background-color: #556C40;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  

  button {
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 55px;
      height: 55px;
    }
  }
}

.skip-link {
  display: block;
  margin-top: 0.5rem;
  
  color: black;
  font-weight: 200;
  font-size: 1.1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
