.listings {
  padding: 20px;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

    a {
      font-size: 14px;
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.headerEP {
  display: flex; 
  justify-content: center; 

  h2 {
    margin: 0; 
  }
}

.profile-settings-card {
  margin: 1.5rem;
  overflow: hidden;

  .profile-setting-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid lightgray;

    &:last-child {
      border-bottom: none;
    }
    span:hover{
      color: #495837;
    }
    i {
      color: grey;
      font-size: 0.9rem;
    }
  }
} 