<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <!-- <script defer src="/scripts/event.js"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const inputs = document.querySelectorAll(".codeBox");

      inputs.forEach((input, index) => {
        input.addEventListener("input", (e) => {
          const value = e.target.value;
          if (value.length === 1 && index < inputs.length - 1) {
            inputs[index + 1].focus();
          }
        });

        // Optional: handle backspace to move focus to previous
        input.addEventListener("keydown", (e) => {
          if (e.key === "Backspace" && !input.value && index > 0) {
            inputs[index - 1].focus();
          }
        });
      });
    });
  </script>
</head>

<body>
  <div class="page-container">
    <main class="main-content">

      <div class="login-content">
        <div class="login_logo">
          <img src="/images/logo.png" alt="Lend It Out Logo" class="logo">
        </div>


        <div id="forgot-password-box2" class="forgot-password2">

          <form action="/auth/forgot-password-validation" method="post">
            <div class="forgot-password-content">
              <button class="close-btn" id="backBtn"><i class="fas fa-chevron-left"></i></button>
              <p>Check Your Messages/Email for verification code</p>
              <% if(error) {%>
              <p class="error-msg"><%= error %></p>
              <%}%>
              <div class="codebox-group">
                <input type="text" name="email" hidden value="<%= email %>" />
              <input type="text" class="codeBox" name="code_0" id="verificationInput1" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" name="code_1" id="verificationInput2" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" name="code_2" id="verificationInput3" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" name="code_3" id="verificationInput4" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" name="code_4" id="verificationInput5" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
            </div>
            <button class="resend-btn" id="resetBtn">Reset Password</button>
        </div>
        </form>
      </div>
  </div>
  </main>
  </div>
</body>

</html>