<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <!-- <script defer src="/scripts/event.js"></script> -->

</head>

<body>
  <div class="page-container">
    <main class="main-content">

      <div class="login-content">
        <div class="login_logo">
          <img src="/images/logo.png" alt="Lend It Out Logo" class="logo">
        </div>

        <div id="forgot-password-box" class="forgot-password">
          <form action="/auth/forgot-password" method="post">
            <div class="forgot-password-content">
              <a href="/auth/login" class="close-btn" id="closeBtn"><i class="fas fa-chevron-left"></i></a>
              <p>Forgot your Password? Check your email for a link to reset your password</p>
              <% if(error) {%>
              <p class="error-msg" style="background-color: black;"><%= error %></p>
              <%}%>
              <input type="text" name="email" id="resetInput" placeholder="Email/Phone Number" required />

              <button class="resend-btn" id="sendCodeBtn">Send code</button>
              <p id="resetMessage"></p>
            </div>
          </form>
        </div>

      </div>


    </main>
  </div>
</body>

</html>