<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <!-- <script defer src="/scripts/event.js"></script> -->

</head>

<body>
  <div class="page-container">
    <main class="main-content">

      <div class="login-content">
        <div class="login_logo">
          <img src="/logo.png" alt="Lend It Out Logo" class="logo">
        </div>

        <div class="login-form">
          <form action="/auth/login" method="POST">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <a href="/auth/forgot-password" id="forgot-link" class="forgot">Forgot my password</a>


            <% if(error) {%>
            <p class="error-msg"><%= error %></p>
            <%}%>
            <button class="login-btn">Login</button>
          </form>



          <div class="register-link">
            Don’t have an account? <a href="/auth/register" class="underline">Register Now!</a>
          </div>
        </div>

        <div id="forgot-password-box" class="forgot-password hidden">
          <div class="forgot-password-content">
            <button class="close-btn" id="closeBtn"><i class="fas fa-chevron-left"></i></button>
            <p>Forgot your Password? Check your email for a link to reset your password</p>
            <input type="text" id="resetInput" placeholder="Email/Phone Number" required/>
            <button class="resend-btn" id="sendCodeBtn">Send code</button>
            <p id="resetMessage"></p>
          </div>
        </div>

        <div id="forgot-password-box2" class="forgot-password2 hidden">
          <div class="forgot-password-content">
            <button class="close-btn" id="backBtn"><i class="fas fa-chevron-left"></i></button>
            <p>Check Your Messages/Email for verification code</p>
            <div class="codebox-group">
              <input type="text" class="codeBox" id="verificationInput1" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" id="verificationInput2" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" id="verificationInput3" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" id="verificationInput4" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
              <input type="text" class="codeBox" id="verificationInput5" maxlength="1" pattern="[0-9]" inputmode="numeric" required />
            </div>
            <button class="resend-btn" id="enterBtn">Enter</button>
            <p id="resetMessage"></p>
          </div>
        </div>
        
      </div>


    </main>
  </div>
</body>

</html>