<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="https://kit.fontawesome.com/380ad8a69c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/scripts/event.js"></script>

</head>

<body>
  <div class="page-container">
    <main class="main-content">

      <div class="login-content">
        <div class="login_logo">
          <img src="/images/logo.png" alt="Lend It Out Logo" class="logo">
        </div>

        <div class="login-form">
          <form action="/auth/login" method="POST">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <a href="/auth/forgot-password" id="forgot-link" class="forgot">Forgot my password</a>


            <% if(error) {%>
            <p class="error-msg"><%= error %></p>
            <%}%>
            <button class="login-btn">Login</button>
          </form>

          <div class="register-link">
            Don’t have an account? <a href="/auth/register" class="underline">Register Now!</a>
          </div>
        </div>
        
      </div>


    </main>
  </div>
</body>

</html>